<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mayuzumi.immegpt</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>69768C42-05EB-49F1-97A5-DBED2D4517E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B49B0B8-ADFD-4EC4-95F9-B1C755FDAAA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7409DDE8-6766-4088-A06D-9E5D05CBC2F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A80B6C17-FE4D-4DEA-A061-E5CC9D343333</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A80B6C17-FE4D-4DEA-A061-E5CC9D343333</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B09A5700-9D22-411B-AE9D-215815446B6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mayuzumi</string>
	<key>description</key>
	<string>ChatGPT result immediately and immersively</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ImmeGPT</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ask</string>
				<key>subtext</key>
				<string>Will putout to your file immedietly</string>
				<key>text</key>
				<string>Ask ChatGPT you want</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7409DDE8-6766-4088-A06D-9E5D05CBC2F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️注意</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B09A5700-9D22-411B-AE9D-215815446B6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/opt/homebrew/bin/python3 xyhelper.py """{query}"""</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A80B6C17-FE4D-4DEA-A061-E5CC9D343333</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clear</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>清空历史记录</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69768C42-05EB-49F1-97A5-DBED2D4517E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>with open("history.json", "w") as file:
    file.write("[]")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B49B0B8-ADFD-4EC4-95F9-B1C755FDAAA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2B49B0B8-ADFD-4EC4-95F9-B1C755FDAAA5</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>69768C42-05EB-49F1-97A5-DBED2D4517E5</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>7409DDE8-6766-4088-A06D-9E5D05CBC2F3</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>A80B6C17-FE4D-4DEA-A061-E5CC9D343333</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>B09A5700-9D22-411B-AE9D-215815446B6B</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.0</string>
	<key>webaddress</key>
	<string>http://mayuzumi.me</string>
</dict>
</plist>
